# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Editors
.idea/
*.swo
*.swp
*~

# Django project
xwing_rulebook/conf/environment.py
node_modules/

# Others
tmp/*
backups/*
xwing_rulebook/static/scripts/lib/*
xwing_rulebook/static/styles/lib/*
xwing_rulebook/static/fonts/lib/*
xwing_rulebook/static/images/lib/*
