{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}
{% load rule_to_markdown %}

{% block meta-title  %}{{ rule.name }}{% endblock %}

{% block page_wrapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="Book">
    <div class="Book__Inner Book__Inner--fancy-border">
      <div class="u-text-right">
        <a href="{% url 'rules:index' %}">&#8592; Back to index</a>
      </div>

      {% if rule2markdown.image_clauses_markdown %}
        <div class="u-flex u-flex-space-between">
          <div class="u-flex-one-quarter">
            {{ rule2markdown.image_clauses_markdown | md2html }}
          </div>
          <div class="u-flex-three-quarters">
            {{ rule2markdown.rule_title | md2html }}
            {{ rule2markdown.content_clauses_markdown | md2html }}

            {% if rule2markdown.rule_clarifications %}
              {% for helper in rule2markdown.rule_clarifications %}
                <h2>Rule Clarifications</h2>
                {{ helper.rule_markdown | md2html }}
              {% endfor %}
            {% endif %}

            {{ rule2markdown.related_topics_as_references | md2html }}
          </div>
        </div>
      {% else %}
        {{ rule2markdown.rule_markdown | md2html }}

        {% if rule2markdown.rule_clarifications %}
          {% for helper in rule2markdown.rule_clarifications %}
            <h2>Rule Clarifications</h2>
            {{ helper.rule_markdown | md2html }}
          {% endfor %}
        {% endif %}

        {{ rule2markdown.related_topics_as_references | md2html }}
      {% endif %}

      {{ '[Epic]' | xwing_icons  }}
    </div>
  </div>
{% endblock %}
