{% extends 'base.html' %}
{% load xwing_icons %}

{% block meta-title  %}{{ rule.name }}{% endblock %}

{% block page_wrapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="Book">
    <div class="Book__Inner Book__Inner--fancy-border">
      <div class="u-text-right">
        <a href="{% url 'rules:index' %}">&#8592; Back to index</a>
      </div>

      {% with rule2markdown as helper %}
        {% include 'includes/_rule.html' %}
      {% endwith %}

      {{ '[Epic]' | xwing_icons  }}
    </div>
  </div>
{% endblock %}
