{% load markdown %}
{% load maneuvers %}

{% if helper.image_clauses_markdown or helper.rule.card_type == CARD_TYPES.PILOT %}
  <div class="u-flex u-flex-space-between">
    <div class="u-flex-third">
      {{ helper.image_clauses_markdown | md2html }}
      {% if helper.rule.card_type == CARD_TYPES.PILOT %}
        {{ helper.rule.card | maneuvers_html }}
        <div class="u-text-center u-text-bold">Ship Maneuvers</div>
      {% endif %}
    </div>
    <div class="u-flex-two-thirds">
      {{ helper.rule_title | md2html }}
      {{ helper.main_clauses_markdown | md2html }}

      {{ helper.card_errata_clauses_markdown | md2html }}
      {{ helper.card_clarification_clauses_markdown | md2html }}
      {{ helper.huge_ship_related_clauses_markdown | md2html }}

      {{ helper.rule_clarifications_as_content | md2html }}
      {{ helper.rule_related_faqs | md2html }}

      {% if helper.related_cards_as_references or helper.related_topics_as_references %}
        <hr/>
      {% endif %}

      {{ helper.related_cards_as_references | md2html }}
      {{ helper.related_topics_as_references | md2html }}

    </div>
  </div>
{% else %}
  {{ helper.rule_markdown | md2html }}
  {{ helper.rule_clarifications_as_content | md2html }}
  {{ helper.rule_related_faqs | md2html }}

  {% if helper.related_cards_as_references or helper.related_topics_as_references %}
    <hr/>
  {% endif %}

  {{ helper.related_cards_as_references | md2html }}
  {{ helper.related_topics_as_references | md2html }}

{% endif %}