{% extends 'base.html' %}
{% load xwing_icons %}

{% block meta-title  %}FAQs{{ block.super }}{% endblock %}

{% block page_wrapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="Book">
    <div class="Book__Inner Book__Inner--fancy-border">

      <div class="u-flex u-flex-space-between">
        <a href="{% url 'admin:faqs_faq_changelist' %}">&uarr; Go to admin</a>
        <a href="{% url 'rules:index' %}">&larr; Back to index</a>
      </div>

      <h1>FAQs</h1>
      {% with faqs2markdown as helper %}
        {% include 'includes/_faqs.html' %}
      {% endwith %}

      {{ '[Epic]' | xwing_icons  }}
    </div>
  </div>
{% endblock %}
