{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block meta-title %} | X-Wing Rulebook{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    {% block meta %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <!--<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">-->
    {% endblock %}

    {% block styles %}
      <link rel="stylesheet" href="{% static 'build/main.css' %}">
    {% endblock %}
    {% include 'includes/_google_tag_manager.html' %}
  </head>
  <body>
    {% include 'includes/_google_tag_manager_no_script.html' %}
    <div class="PageWrapper {% block page_wrapper_class %}{% endblock %}">
      <div class="PageWrapper__Header">
        {% block header %}
          {% include 'includes/_header.html' %}
        {% endblock %}
      </div>
      <div class="PageWrapper__Content">
        {% block content %}{% endblock %}
      </div>
      <div class="PageWrapper__Footer">
        {% block footer %}
          {% include 'includes/_footer.html' %}
        {% endblock %}
      </div>

    </div>

    {% block scripts %}
      <script src="{% static 'build/main.js' %}"></script>
    {% endblock %}

  </body>
</html>
