{% load static %}
{% load metadata %}
<!DOCTYPE HTML>
<html>
  <head>
    {% block meta %}{% metadata %}{% endblock %}

    {% block styles %}
      <link rel="stylesheet" href="{% static 'build/main.css' %}">
    {% endblock %}
    {% include 'includes/_google_tag_manager.html' %}
  </head>
  <body>
    {% include 'includes/_google_tag_manager_no_script.html' %}
    <div class="PageWrapper {% block page_wrapper_class %}{% endblock %}">
      {% block header %}
        {% include 'includes/_header.html' %}
      {% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}
        {% include 'includes/_footer.html' %}
      {% endblock %}

    </div>

    {% block scripts %}
      <script src="{% static 'build/main.js' %}"></script>
    {% endblock %}

  </body>
</html>
