@font-face {
  font-family: BankGothic;
  src: url("../fonts/Bank-Gothic-Medium-BT.ttf");
}

@font-face {
  font-family: Eurostile;
  src: url("../fonts/EurostileLTStd.otf");
}

@font-face {
  font-family: Kimberley;
  src: url("../fonts/kimberley-bl.ttf");
}