@include skel-breakpoints((
  xlarge: '(max-width: ' + val($breakpoint-limits, xlarge) + ')',
  large: '(max-width: ' + val($breakpoint-limits, large) + ')',
  medium: '(max-width: ' + val($breakpoint-limits, medium) + ')',
  small: '(max-width: ' + val($breakpoint-limits, small) + ')',
  xsmall: '(max-width: ' + val($breakpoint-limits, xsmall) + ')',
));


.PageWrapper {
  min-height: 100vh;
  background-color: val($palette, bg-dark);

  &--breakpoints {
    background-color: darkcyan;

    @include breakpoint(xlarge) {
      background-color: red;
    }
    @include breakpoint(large) {
      background-color: yellow;
    }
    @include breakpoint(medium) {
      background-color: green;
    }
    @include breakpoint(small) {
      background-color: blue;
    }
    @include breakpoint(xsmall) {
      background-color: orange;
    }
  }

  &__Header {
    height: 200px;
    background:
          url("../images/background/red-stripe.png") repeat-x center bottom 0,
          url("../images/background/header.png") no-repeat center top 0;
  }
  &__Content {

  }
  &__Footer {
    height: 200px;
    background:
              url("../images/background/red-stripe.png") repeat-x center top 0,
              url("../images/background/footer.png") no-repeat center top 0;
  }

}

.Section {

  &__Inner {
    margin: 0 auto;
    max-width: calc(#{val($sizes, regular-content-width)} - 2*#{val($padding, normal)});
    padding: val($padding, large) val($padding, normal);
    background-color: val($palette, bg-light);
    color: val($palette, fg-dark);

    &--shadow {
      @include vendor('box-shadow', '0px 0px 50px black');
      @include breakpoint(small) {
        @include vendor('box-shadow', 'none');
      }

    }

    &--unpadded {
      max-width: val($sizes, regular-content-width);
      padding: 0;
    }

    &--no-background {
      background: none;
      color: val($palette, fg-light);
    }

    &--manual {
      @include vendor('box-shadow', '0px 0px 50px black');
      max-width: calc(#{val($sizes, narrow-content-width)} - 2*#{val($padding, xxx-large)});
      padding: val($padding, xx-large) val($padding, xxx-large);

      background:
              url("../images/background/corner-top-left.png") no-repeat left -27px top -27px,
              url("../images/background/corner-top-right.png") no-repeat right -27px top -27px,
              url("../images/background/corner-bottom-left.png") no-repeat left -27px bottom -27px,
              url("../images/background/corner-bottom-right.png") no-repeat right -27px bottom -27px,
              url("../images/background/border-top.png") repeat-x left 40px top -15px,
              url("../images/background/border-bottom.png") repeat-x left 40px bottom -15px,
              url("../images/background/border-left.png") repeat-y left -15px top 90px,
              url("../images/background/border-right.png") repeat-y right -15px top 90px,
              url("../images/background/manual-background.jpg") repeat-y center top,
              transparent;

      @include breakpoint(small) {
        @include vendor('box-shadow', 'none');
        background: url("../images/background/manual-background.jpg") repeat-y center top;
        max-width: calc(#{val($sizes, regular-content-width)} - 2*#{val($padding, normal)});
        padding: val($padding, large) val($padding, normal);
      }
    }
  }
}
