@include skel-breakpoints((
  xlarge: '(max-width: ' + val($breakpoint-limits, xlarge) + ')',
  large: '(max-width: ' + val($breakpoint-limits, large) + ')',
  medium: '(max-width: ' + val($breakpoint-limits, medium) + ')',
  small: '(max-width: ' + val($breakpoint-limits, small) + ')',
  xsmall: '(max-width: ' + val($breakpoint-limits, xsmall) + ')',
));
