.u {
  &-text {
    &-left {
      text-align: right;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }

    &-bold {
      font-weight: bold;
    }
  }

  &-flex {
    display: flex;

    &-left {
      justify-content: flex-start;
    }

    &-right {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-center {
      justify-content: center;
    }

    &-columns {
      flex-direction: column;
    }

    &-half {
      flex: 0 1 75%;
    }

    &-third {
      flex: 0 1 33.33%;
    }

    &-two-thirds {
      flex: 0 1 66.66%;
    }

    &-one-quarter {
      flex: 0 1 25%;
    }

    &-three-quarters {
      flex: 0 1 75%;
    }
  }

  &-float {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }
  }

  &-padded {
    padding: val($padding, large) val($padding, normal);
  }
}