.u {
  &-text {
    &-left {
      text-align: right;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }

    &-bold {
      font-weight: bold;
    }

    &-color {
      &-red {
        color: map-get($palette, color4);
      }
      &-yellow {
        color: map-get($palette, color5);
      }
      &-green {
        color: map-get($palette, color6);
      }
      &-blue {
        color: map-get($palette, color2);
      }
    }
  }

  &-flex {
    display: flex;

    &-space-between {
      justify-content: space-between;
    }

    &-columns {
      flex-direction: column;
    }

    &-wrap{
      flex-wrap: wrap;
    }
  }

  &-float {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }
  }

  &-padded {
    padding: map-get($padding, large) map-get($padding, normal);
  }

  &-bg-color {
    &-red {
      background-color: map-get($palette, color4);
    }

    &-yellow {
      background-color: map-get($palette, color5);
    }

    &-green {
      background-color: map-get($palette, color6);
    }

    &-blue {
      background-color: map-get($palette, color2);
    }
  }
}