.u {
  &-text {
    &-left {
      text-align: right;
    }

    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }

    &-bold {
      font-weight: bold;
    }

    &-color {
      &-red {
        color: val($palette, color4);
      }
      &-yellow {
        color: val($palette, color5);
      }
      &-green {
        color: val($palette, color6);
      }
      &-blue {
        color: val($palette, color2);
      }
    }
  }

  &-flex {
    display: flex;

    &-left {
      justify-content: flex-start;
    }

    &-right {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-center {
      justify-content: center;
    }

    &-columns {
      flex-direction: column;
    }

    &-half {
      flex: 0 1 75%;
    }

    &-third {
      flex: 0 1 33.33%;
    }

    &-two-thirds {
      flex: 0 1 66.66%;
    }

    &-one-quarter {
      flex: 0 1 25%;
    }

    &-three-quarters {
      flex: 0 1 75%;
    }
  }

  &-float {
    &-left {
      float: left;
    }

    &-right {
      float: right;
    }
  }

  &-padded {
    padding: val($padding, large) val($padding, normal);
  }

  &-bg-color {
    &-red {
      background-color: val($palette, color4);
    }

    &-yellow {
      background-color: val($palette, color5);
    }

    &-green {
      background-color: val($palette, color6);
    }

    &-blue {
      background-color: val($palette, color2);
    }
  }

  &-hide {
    &-xsmall {
      @include breakpoint(xsmall) {
        display: none;
      }
    }
    &-small {
      @include breakpoint(small) {
        display: none;
      }
    }
    &-medium {
      @include breakpoint(medium) {
        display: none;
      }
    }
    &-large {
      @include breakpoint(large) {
        display: none;
      }
    }
    &-xlarge {
      @include breakpoint(xlarge) {
        display: none;
      }
    }
  }
}