$fa-font-path: '../fonts/lib/font-awesome/';

$misc: (
  z-index-base: 10000
);

$padding: (
  small: 0.5em,
  normal: 1em,
  large: 1.5em,
  x-large: 2em
);

$font-size: (
  base-size: 16px,
  x-small: 0.5em,
  small: 0.75em,
  normal: 1em,
  medium: 1.5em,
  large: 2em,
  x-large: 3em
);

$line-heights: (
  x-small: 1em,
  small: 1.5em,
  normal: 2em,
  medium: 3em,
  large: 4em,
  x-large: 5em
);

$breakpoints: (
  xlarge: 1680px,
  large: 1280px,
  medium: 980px,
  small: 850px,
  xsmall: 480px
);

$sizes: (
  normal-content-width: 60em,
);

$palette: (
  bg-light: rgb(232, 237, 241),
  bg-dark: rgb(63, 63, 63),
  fg-light: rgb(255, 255, 255),
  fg-dark: rgb(36, 36, 36),
  color1: rgb(4, 18, 45),
  color2: rgb(28, 88, 166),
  color3: rgb(20, 99, 138),
  color4: rgb(74, 135, 165),
  color5: rgb(47, 168, 230),
);

$duration: (
  x-short: 0.2s,
  short: 0.5s,
  medium: 1s,
  long: 3s,
  x-long: 4s
);