$misc: (
  z-index-base: 10000
);

$padding: (
  small: 0.5em,
  normal: 1em,
  large: 1.5em,
  x-large: 2em
);

$font: (
  base-size: 16px,
  normal: 1em
);

$breakpoints: (
  xlarge: 1680px,
  large: 1280px,
  medium: 980px,
  small: 850px,
  xsmall: 480px
);

$sizes: (
  normal-content-width: 60em
);

$palette: (
  bg-light: #C3C3C3,
  bg-dark: #3F3F3F,
  fg-light: #FFFFFF,
  fg-dark: #242424,
  fg-medium: #3F3F3F,
  border: #A1A1A1,
  border-bg: #4A4A4A,
  border2: #A1A1A1,
  border2-bg: #616263
);