$fa-font-path: '../fonts/lib/font-awesome/';

$z-index: (
  header: 100,
);

$base-font-size: (
  default: 17px,
  xlarge: 17px,
  large: 17px,
  medium: 17px,
  small: 16px,
  xsmall: 16px
);

$breakpoint-limits: (
  xlarge: 1680px,
  large: 1280px,
  medium: 980px,
  small: 850px,
  xsmall: 480px
);

$padding: (
  xsmall: 0.25em,
  small: 0.5em,
  normal: 1em,
  large: 1.5em,
  xlarge: 2em,
  xxlarge: 2.5em,
  xxxlarge: 3em
);

$font-size: (
  xsmall: 0.5em,
  small: 0.75em,
  normal: 1em,
  medium: 1.25em,
  large: 1.75em,
  xlarge: 2.25em,
  xxlarge: 2.75em,
  xxxlarge: 3.25em
);

$line-height: 1.5em;

$sizes: (
  narrow-content-width: 60em,
  regular-content-width: 80em,
);

$palette: (
  bg-light: rgb(232, 237, 241),
  bg-dark: rgb(63, 63, 63),
  fg-light: rgb(255, 255, 255),
  fg-dark: rgb(36, 36, 36),
  color1: rgb(4, 0, 45),
  color2: rgb(21, 76, 230),
  color3: rgb(56, 146, 166),
  color4: rgb(218, 49, 47),
  color5: rgb(236, 164, 0),
  color6: rgb(10, 220, 10)
);

$duration: (
  xshort: 0.2s,
  short: 0.5s,
  medium: 1s,
  long: 3s,
  xlong: 4s
);

$maneuver-sprite: (
    url: "../images/site/maneuvers.svg",
    names: (
      'stationary-normal',
      'turn-left-normal',
      'bank-left-normal',
      'straight-normal',
      'bank-right-normal',
      'turn-right-normal',
      'koiogran-turn-normal',
      'segnors-loop-left-normal',
      'segnors-loop-right-normal',
      'tallon-roll-left-normal',
      'tallon-roll-right-normal',
      'reverse-bank-left-normal',
      'reverse-straight-normal',
      'reverse-bank-right-normal',
      'non-existent-normal',
      'stationary-easy',
      'turn-left-easy',
      'bank-left-easy',
      'straight-easy',
      'bank-right-easy',
      'turn-right-easy',
      'koiogran-turn-easy',
      'segnors-loop-left-easy',
      'segnors-loop-right-easy',
      'tallon-roll-left-easy',
      'tallon-roll-right-easy',
      'reverse-bank-left-easy',
      'reverse-straight-easy',
      'reverse-bank-right-easy',
      'non-existent-easy',
      'stationary-difficult',
      'turn-left-difficult',
      'bank-left-difficult',
      'straight-difficult',
      'bank-right-difficult',
      'turn-right-difficult',
      'koiogran-turn-difficult',
      'segnors-loop-left-difficult',
      'segnors-loop-right-difficult',
      'tallon-roll-left-difficult',
      'tallon-roll-right-difficult',
      'reverse-bank-left-difficult',
      'reverse-straight-difficult',
      'reverse-bank-right-difficult',
      'non-existent-difficult',
      'stationary-unavailable',
      'turn-left-unavailable',
      'bank-left-unavailable',
      'straight-unavailable',
      'bank-right-unavailable',
      'turn-right-unavailable',
      'koiogran-turn-unavailable',
      'segnors-loop-left-unavailable',
      'segnors-loop-right-unavailable',
      'tallon-roll-left-unavailable',
      'tallon-roll-right-unavailable',
      'reverse-bank-left-unavailable',
      'reverse-straight-unavailable',
      'reverse-bank-right-unavailable',
      'non-existent-unavailable'
    ),
    itemsInRow: 15,
    numOfRows: 4
);

$maneuver-huge-sprite: (
    url: "../images/site/maneuvers-huge.svg",
    names: (
      'bank-left-e0',
      'straight-e0',
      'bank-right-e0',
      'non-existent-e0',
      'bank-left-e1',
      'straight-e1',
      'bank-right-e1',
      'non-existent-e1',
      'bank-left-e2',
      'straight-e2',
      'bank-right-e2',
      'non-existent-e2',
      'bank-left-e3',
      'straight-e3',
      'bank-right-e3',
      'non-existent-e3',
      'bank-left-unavailable',
      'straight-unavailable',
      'bank-right-unavailable',
      'non-existent-unavailable'
    ),
    itemsInRow: 4,
    numOfRows: 5
);