.Book {
  @include vendor('box-shadow', '0px 0px 50px black');
  background: white url("../images/site/manual-background.jpg") repeat-y center top;
  width: val($sizes, manual-content-width);

  &__Inner {

    &--columns {
      columns: 2 400px;
      column-gap: 3em;
      column-rule: 1px dotted #ddd;
      column-fill: auto;

      h2 {
        column-span: all;
      }
    }

    &--fancy-border {
      padding: val($padding, large) val($padding, normal);
    }

    p,
    th,
    li {
      position: relative;
    }

    th {
     .SourceReference {
        right: inherit;
        left: 79.5em;
        width: 133px;
     }
    }
  }
}

.SourceReference {
    position: absolute;
    top: 0;
    width: auto;
    display: block;
    color: white;
    right: -20em;
    font-size: val($font-size, small);
    line-height: $line-height;
    padding: val($padding, small);
    font-weight: normal;
}

/* http://stackoverflow.com/questions/21036553/fetch-the-value-from-url
https://nodejs.org/docs/v0.7.7/api/url.html
 */
:target {
  background-color: yellow;
}