.HeaderWrapper {
  padding-bottom: 2px;
  background: val($palette, fg-light);
  z-index: val($z-index, header);
  position: relative;
}

.Header {
  @include breakpoint(medium) {
    background: val($palette, color3);
  }

  display: flex;
  justify-content: space-between;
  background: url("../images/site/header.png") no-repeat right center black;

  &__LogoWrapper {
    @include breakpoint(medium) {
      width: auto;
    }

    @include breakpoint(medium) {
      background: none;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    padding:  val($padding, normal) val($padding, normal) val($padding, normal) val($padding, large);
    background: linear-gradient(90deg, val($palette, color3), val($palette, color3) 50%, rgba(0, 0, 0, 0));

    & > * {
      margin-right: val($padding, xsmall);
    }

    a,
    a:hover,
    a:visited,
    a:active,
    a:link,
    a:focus {
      @include breakpoint(large) {
        font-size: val($font-size, large);
      }

      @include breakpoint(medium) {
        font-size: val($font-size, medium);
      }

      @include vendor('text-shadow', 'none');

      border: none;
      text-decoration: none;
      font-family: Kimberley, Arial, Helvetica, sans-serif;
      color: val($palette, fg-light);
      font-weight: bold;
      font-size: val($font-size, xlarge);
      line-height: $line-height;
    }
  }

  &__Logo {
    display: block;
    height: 100px;
    max-height: 100px;
    width: 100px;
    max-width: 100px;

    @include breakpoint(large) {
      height: 80px;
      max-height: 80px;
      width: 80px;
      max-width: 80px;
    }

    @include breakpoint(medium) {
      height: 60px;
      max-height: 60px;
      width: 60px;
      max-width: 60px;
    }

    img {
      height: 80%;
      padding: 10%;
      width: auto;
    }
  }
}