.RuleBook {
  @include vendor('box-shadow', '0px 0px 50px black');
  background: white url("../images/background/manual-background.jpg") repeat-y center top;
  width: val($sizes, normal-content-width);

  .xwing-miniatures-font,
    .xwing-miniatures-ship {
      font-weight: normal;
    }

  &__Inner {
    &--fancy-border {
      padding: val($padding, large) val($padding, normal);
    }

    p,
    th,
    li {
      position: relative;
    }

    th {
     .SourceReference {
        right: inherit;
        left: 79.5em;
        width: 133px;
     }
    }
  }
}

.SourceReference {
    position: absolute;
    top: 0;
    width: auto;
    display: block;
    color: white;
    right: -20em;
    font-size: val($font-size, small);
    line-height: val($line-heights, small);
    padding: val($padding, small);
    font-weight: normal;
}