.RuleBook {
  @include vendor('box-shadow', '0px 0px 50px black');
  background: white url("../images/manual-background.jpg") repeat-y center top;
  width: val($sizes, normal-content-width);

  &__Inner {
    &--fancy-border {
      padding: val($padding, large) val($padding, normal);
    }

    h2,
    h3,
    h4,
    p,
    li {
      &:hover {
        & > .SourceReference {
          @include vendor('box-shadow', '0px 0px 20px white');
          background-color: white;
          color: black;
          font-weight: bold;
        }
      }
    }

  }
}

.SourceReference {
    @include vendor('border-radius', '5px');
    @include vendor('transition', (
      'color ' + val($duration, x-short) + ' ease',
      'box-shadow ' + val($duration, x-short) + ' ease',
      'background-color ' + val($duration, x-short) + ' ease'
    ));
    position: absolute;

    top: 0;
    width: auto;
    display: block;
    color: white;
    right: -13em;
    font-size: val($font-size, small);
    line-height: val($line-heights, small);
    padding: val($padding, small);
}