.RuleBook {
  @include vendor('box-shadow', '0px 0px 50px black');
  background: white url("../images/manual-background.jpg") repeat-y center top;
  width: val($sizes, normal-content-width);

  &__Inner {
    &--fancy-border {
      padding: val($padding, large) val($padding, normal);
    }
  }
}