{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block meta-title %}{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    {% block meta %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <!--<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">-->
    {% endblock %}

    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <div class="PageWrapper {% block page_wapper_class %}{% endblock %}">
      <div class="PageWrapper__Header">
        {% block header %}{% endblock %}
      </div>
      <div class="PageWrapper__Content">
        {% block content %}{% endblock %}
      </div>
      <div class="PageWrapper__Footer">
        {% block footer %}{% endblock %}
      </div>

    </div>

    {% block scripts %}
      <script src="{% static 'build/main.js' %}"></script>
    {% endblock %}

    {% block analytics %}{% endblock %}

  </body>
</html>
