{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}

{% block meta-title  %}{{ rl.name }}{% endblock %}

{% block page_wapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="RuleBook">
    <div class="RuleBook__Inner RuleBook__Inner--fancy-border">
      <h1>{{ rb.name }}</h1>

      {{ rb.content | xwing_icons | md2html }}

      {% for section in rb.booksection_set.all %}
        <h2>{{ section.title }}</h2>
        {{ section.content | xwing_icons | md2html }}

        {% for section_rule in section.sectionrule_set.all %}
          {% include 'html/includes/_rule.html' with rule=section_rule.rule %}
        {% endfor %}

      {% endfor %}

       {{ '[Epic]' | xwing_icons  }}
      <div>
    <div>
  </div>
{% endblock %}
