{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}

{% block meta-title  %}{{ rulebook.name }}{% endblock %}

{% block page_wapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="RuleBook">
    <div class="RuleBook__Inner RuleBook__Inner--fancy-border">
      <h1>{{ rulebook.name }}</h1>

      <h2>
        <a href="{% url 'rule:section' rulebook_slug=rulebook.slug section_slug=section.slug%}">
          {{ section.title }}
        </a>
      </h2>

        {% include 'html/includes/_rule.html' with rulebook=rulebook rule=rule section=section %}

       {{ '[Epic]' | xwing_icons  }}
      <div>
    <div>
  </div>
{% endblock %}
