{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}

{% block meta-title  %}{{ rl.name }}{% endblock %}

{% block page_wapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="RuleBook">
    <div class="RuleBook__Inner RuleBook__Inner--fancy-border">
      <h1>{{ rl.name }}</h1>

      {{ rl.description | md2html | xwing_icons  }}

      {% for rule in rl.rules.all %}
        {% include 'html/includes/_rule.html' %}
      {% endfor %}

       {{ '[Epic]' | xwing_icons  }}
      <div>
    <div>
  </div>
{% endblock %}
