.FooterWrapper {
  margin-top: auto;
  margin-bottom: 0;

  padding-top: 2px;
  background-color: map-get($palette, bg-light);
}

.Footer {
  color: map-get($palette, fg-light);
  text-align: center;
  background-color: map-get($palette, bg-dark);

  p {
    font-size: map-get($font-size, xsmall);
  }
}