.HeaderWrapper {
  height: 136px; /* background image's size */
  padding-bottom: 2px;
  background: map-get($palette, fg-light);
  z-index: map-get($z-index, header);
  position: relative;
}

.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;


  @include breakpoint(large) {
    height: 116px;
  }

  @include breakpoint(medium) {
    height: 96px;
  }


  background: linear-gradient(90deg, map-get($palette, color3), map-get($palette, color3) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0)),
              url("../images/site/header.png") no-repeat right center black;

  @include breakpoint(medium) {
    background: map-get($palette, color3);
  }


  &__Logo {
    margin-left: map-get($padding, large);
    display: block;
    height: 100px;
    max-height: 100px;
    width: 100px;
    max-width: 100px;

    @include breakpoint(large) {
      height: 80px;
      max-height: 80px;
      width: 80px;
      max-width: 80px;
    }

    @include breakpoint(medium) {
      height: 60px;
      max-height: 60px;
      width: 60px;
      max-width: 60px;
    }

    img {
      height: 80%;
      padding: 10%;
      width: auto;
    }
  }

  &__Logo,
  &__Title {
    a,
    a:hover,
    a:visited,
    a:active,
    a:link,
    a:focus {
      @include breakpoint(large) {
        font-size: map-get($font-size, large);
      }

      @include breakpoint(medium) {
        font-size: map-get($font-size, medium);
      }

      @include vendor('text-shadow', 'none');

      border: none;
      text-decoration: none;
      font-family: Kimberley, Arial, Helvetica, sans-serif;
      color: map-get($palette, fg-light);
      font-weight: bold;
      font-size: map-get($font-size, xlarge);
      line-height: $line-height;
    }
  }

  &__Title {
    margin-left: map-get($padding, normal);
  }

  &__ToolBox {
    margin-left: auto;
    margin-right: map-get($padding, large);
  }

}