.PageWrapper {
  min-height: 100vh;
  background-color: val($palette, bg-dark);

  &--bg-light {
    background-color: darken(val($palette, color3), 5);
  }

  &--breakpoints {
    background-color: darkcyan;

    @include breakpoint(xlarge) {
      background-color: red;
    }
    @include breakpoint(large) {
      background-color: yellow;
    }
    @include breakpoint(medium) {
      background-color: green;
    }
    @include breakpoint(small) {
      background-color: blue;
    }
    @include breakpoint(xsmall) {
      background-color: orange;
    }
  }

}