.Section {
  &__Inner {
    margin: 0 auto;
    max-width: calc(#{map-get($sizes, regular-content-width)} - 2*#{map-get($padding, normal)});
    padding: map-get($padding, large) map-get($padding, normal);
    background-color: map-get($palette, bg-light);
    color: map-get($palette, fg-dark);

    &--shadow {
      @include vendor('box-shadow', '0px 0px 50px black');
      @include breakpoint(small) {
        @include vendor('box-shadow', 'none');
      }
    }

    &--unpadded {
      max-width: map-get($sizes, regular-content-width);
      padding: 0;
    }

    &--no-background {
      background: none;
      color: map-get($palette, fg-light);
    }

    &--manual {
      @include vendor('box-shadow', '0px 0px 50px black');
      max-width: calc(#{map-get($sizes, narrow-content-width)} - 2*#{map-get($padding, xxxlarge)});
      padding: map-get($padding, xxlarge) map-get($padding, xxxlarge);
      margin: map-get($padding, xlarge) auto;

      background:
              url("../images/site/corner-top-left.png") no-repeat left -27px top -27px,
              url("../images/site/corner-top-right.png") no-repeat right -27px top -27px,
              url("../images/site/corner-bottom-left.png") no-repeat left -27px bottom -27px,
              url("../images/site/corner-bottom-right.png") no-repeat right -27px bottom -27px,
              url("../images/site/border-top.png") repeat-x left 40px top -15px,
              url("../images/site/border-bottom.png") repeat-x left 40px bottom -15px,
              url("../images/site/border-left.png") repeat-y left -15px top 90px,
              url("../images/site/border-right.png") repeat-y right -15px top 90px,
              url("../images/site/manual-background.jpg") repeat-y center top,
              transparent;

      @include breakpoint(small) {
        @include vendor('box-shadow', 'none');
        background: url("../images/site/manual-background.jpg") repeat-y center top;
        max-width: calc(#{map-get($sizes, regular-content-width)} - 2*#{map-get($padding, normal)});
        padding: map-get($padding, large) map-get($padding, normal);
      }
    }
  }
}