{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}
{% load book_to_markdown %}
{% load rule_to_markdown %}

{% block meta-title  %}{{ book.name }}{% endblock %}

{% block page_wrapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="Book">
    <div class="Book__Inner Book__Inner--fancy-border">
      <h1>{{ book.name }}</h1>

      <h2>
        <a href="{% url 'books:section' book_slug=book.slug section_slug=section.slug%}">
          {{ section.title }}
        </a>
      </h2>

      {{ rule | rule_as_markdown:3 | md2html }}

      {% with rule|filter_related_rules_by_type:RULE_TYPES.RULE_CLARIFICATION as clarifications %}
        {% if clarifications.count %}
          <h4>Rule Clarifications</h4>
          {% for clarification in clarifications %}
            {{ clarification | rule_as_markdown:5 | md2html }}
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% related_topics_as_book_linked_list_markdown rule %}

      {{ '[Epic]' | xwing_icons  }}
    </div>
  </div>
{% endblock %}
