{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}

{% block meta-title  %}{{ book.name }}{{ block.super }}{% endblock %}

{% block page_wrapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="Book">
    <div class="Book__Inner Book__Inner--fancy-border">
      <h1>{{ book.name }}</h1>

      {{ rulebook.content | xwing_icons | md2html }}

      {% for section in book.section_set.all %}
        <h2>
          <a href="{% url 'books:book' book_slug=book.slug section_slug=section.slug %}">
            {{ section.title }}
          </a>
        </h2>

        <ul>
          {% for section_rule in section.sectionrule_set.all %}
            <li>
              <a href="{% url 'books:book' book_slug=book.slug section_slug=section.slug rule_slug=section_rule.rule.slug %}">
                {{ section_rule.rule.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

      {{ '[Epic]' | xwing_icons  }}

    </div>
  </div>
{% endblock %}
