{% extends 'base.html' %}
{% load markdown %}
{% load xwing_icons %}

{% block meta-title  %}{{ book.name }}{% endblock %}

{% block page_wapper_class %} u-background-dark{% endblock %}

{% block content %}
  <div class="Book">
    <div class="Book__Inner Book__Inner--fancy-border">
      <h1>{{ book.name }}</h1>

      {{ book.content | xwing_icons | md2html }}


      {% for section in book.section_set.all %}
        <h2>{{ section.title }}</h2>
        {{ section.content | xwing_icons | md2html }}

        {% for section_rule in section.sectionrule_set.all %}
          {% md2html section_rule.rule %}
        {% endfor %}

      {% endfor %}

       {{ '[Epic]' | xwing_icons  }}
      <div>
    <div>
  </div>
{% endblock %}
